<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FinalProject.mapper.StoreMapper">

    <!-- 공통 컬럼 정의 -->
    <sql id="columns">
        user_id,
        store_name,
        store_call,
        id,
        pwd,
        user_name,
        phone,
        cd_role
    </sql>

    <!--지점 리스트 -->
    <select id="getStoreList" parameterType="StoreDto" resultType="StoreDto">
        SELECT *
        FROM (
            SELECT ROWNUM AS rnum, result1.*
            FROM (
                SELECT <include refid="columns"/>
                FROM tb_user
                WHERE deleted = 'NO'
                <!-- 지점명 검색 -->
                <if test="condition == 'storeName' and keyword != null and keyword != ''">
                    AND store_name LIKE '%' || #{keyword} || '%'
                </if>
                <!-- 원장명 검색 -->
                <if test="condition == 'userName' and keyword != null and keyword != ''">
                    AND user_name LIKE '%' || #{keyword} || '%'
                </if>
                <if test="condition == 'all' and keyword != null and keyword != ''">
			        AND (store_name LIKE '%' || #{keyword} || '%' OR user_name LIKE '%' || #{keyword} || '%')
			    </if>
                ORDER BY store_name ASC
            ) result1
        )
        WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
        and cd_role = 'ADMIN'
    </select>

    <!-- 총 행 개수 -->
    <select id="getStoreCount" parameterType="StoreDto" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        WHERE deleted = 'NO'
        <!-- 지점명 검색 -->
        <if test="condition == 'storeName' and keyword != null and keyword != ''">
            AND store_name LIKE '%' || #{keyword} || '%'
        </if>
        <!-- 원장명 검색 -->
        <if test="condition == 'userName' and keyword != null and keyword != ''">
            AND user_name LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <!--지점 등록 -->
    <insert id="insertStore" parameterType="StoreDto">
	  INSERT INTO tb_user (
	    user_id, store_name, store_call, id, pwd, user_name, phone, cd_role
	  ) VALUES (
	    seq_user_id.NEXTVAL,
	    #{storeName},
	    #{storeCall},
	    #{id},
	    #{pwd},
	    #{userName},
	    #{phone},
	    'ADMIN'
	  )
	</insert>

    <!--지점 상세 조회 -->
    <select id="getStoreDetail" parameterType="int" resultType="StoreDto">
        SELECT <include refid="columns"/>
        FROM tb_user
        WHERE user_id = #{userId}
          AND deleted = 'NO'
    </select>

    <!--지점 정보 수정 -->
   	<update id="updateStore" parameterType="StoreDto">
        UPDATE tb_user
           SET user_name  = #{userName},
               phone      = #{phone},
               pwd        = #{pwd},
               pwd_status = 1    
         WHERE user_id = #{userId}
    </update>

    <!--지점 삭제-->
    <update id="deleteStore" parameterType="int">
        UPDATE tb_user
           SET deleted = 'YES'
         WHERE user_id = #{userId}
    </update>

    <!--관리자 비밀번호 조회(지점 삭제 위한 기능) -->
    <select id="getAdminPwdById" parameterType="int" resultType="string">
        SELECT pwd
        FROM tb_user
        WHERE id = #{id}
          AND cd_role = 'CEO'
          AND deleted = 'NO'
    </select>

</mapper>
